h1{
    background-color: red;
    color: white;
    /* display: inline; */
    
}
a{
    background-color: red;
    color: white;
    display: block;
    text-align: center;
}
ul{
    display: inline;
}