.float img{
    width: 300px;
    /* float: left; */
    /* float: right; */
    float:left;
}
p{
    /* clear: left; */
    /* clear: right; */
}
.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    border-radius: 100%;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgba(244, 211, 47, 0.677);
    float: left;
    border-radius: 100%;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(61, 7, 7);
    float: left;
    border-radius: 100%;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(26, 169, 59);
    float: left;
    border-radius: 100%;
}