/* p{
    color: red;
} */
.box{
    width: 200px;
    height: 200px;
    background-color:rgba(144, 0, 31, 1);
    float: left;     
}
.box1{
    width: 200px;
    height: 200px;
    background-color:rgb(25, 0, 31);
    float: left;
    margin-left: 10px;
}
.box3{
    width: 200px;
    height: 200px;
    margin: 100px auto;
    /* background: red; */
    /* background: rgb(255, 0, 250);*/
    /* background: linear-gradient(rgba(255,0,0,180),green 80%); */
    background: linear-gradient(-45deg, rgb(255,120,0),green);
}