.mar{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.margin{
    width: 200px;
    height: 200px;
    background-color:black;
    margin: 50px 40px 30px 20px;

}