*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #3D5B99;
    overflow: hidden;
    position: relative;
    height: 82px;
}
.heade::after{
    content: "";
    clear: both;
    display: block;
}
.container{
    width: 80%;
    margin: auto;
}
.logo-area{
    width: 30%;
    float: left;    
}
.logo-area img{
    width: 150px;
    height: 50px;
    position: relative;
    top: 21px;;
}
.login-area{
    width: 70%;
    float: left;
    color: white;
}
.login-area form{
    float: right;
}
.login-area label, .login-area input {
    display: block;
}
.login-area label{
    font-size: 14px;
    margin: 5px;
}
.login-area .email,
.login-area .password,
.login-area .login{
    float: left;
    padding: 5px 5px;
}
.login-area .email input[type="text"],
.login-area .password input[type="password"] {
    border: none;
    outline: none;
    font-size: 12px;
    padding-left: 5px;
}
.login-area .password a{
    text-decoration: none;
    color: #9CA0BB;
    font-size: 14px;
}
.login-area .password a:hover{
    text-decoration: underline;
}
.login-area input[type="submit"] { 
    background-color: #4267b2;    
    border: 1px solid #29487d;
    color: white;
    padding: 2px 5px;
    margin-top: 26px;
}