.animation{
    width: 100%;
    height: 400px;
    background-color: #080A3C;
    color: white;
    position: relative;
    display: flex;    
    z-index: 1;
}
.animation1{
    animation:img1 1s infinite running;
    width: 100%;
    height: 400px;
    position: absolute;  
    background: url(./footer-shape1.png) no-repeat;
}
.animation2{
    width: 100%;
    height: 400px;
    position: absolute;
    animation:img2 1s infinite running;
    background-image: url(./footer-shape2.png);
}
@keyframes img1{
    0%{
        opacity: 0;
    }
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes img2{
    0%{
        opacity: 1;
    }
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.animation::after{
    content: "";
}