body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #808080;
}
header{
    width: 100%;
    display: flex;
    background-color: coral;  
    padding: 20px;
}
.logo img{
    width: 50px;
    height: auto;
    padding: 10px;
}
header ul{
    text-align: center;    
}
header ul li{      
    float: left;
    margin-left:10px;
    text-transform:capitalize;
    list-style: none;
    line-height: 60px;
    background-color: crimson;
    width: 145px;
    height: 60px;
    border: 1px solid #fff;
    cursor: pointer;
}
header ul li a{
    text-decoration: none;
    color: #111;
}
header ul li:hover{
    background-color: #4584ef45;
    transition: all ease .5s;
}
header ul li ul li{
    display: none;
}
header ul li:hover > ul li{
    display: block;
}